.colorCardContainer {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  width: 250px;
  height: 240px;
  background: #c08ff58c;
  box-shadow: 5px 5px 5px grey;
  right: 10%;
  top: 50%;
  transform: translateY(-120px);
  font-family: sans-serif;
  font-weight: 550;
}

.text {
  height: 315px;
  transform: translateY(-160px);
}

.backgroundColorGrid {
  padding-bottom: 1em;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /*background: #e6e3ce;*/
  justify-content: space-evenly;
  align-content: space-between;
}

.strokeColorGrid {
  padding-bottom: 1em;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /*background: #e6e3ce;*/
  justify-content: space-evenly;
  align-content: space-between;
}

.numberGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.numberBlock {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background: #e6e3ce;
  height: 20px;
  text-align: center;
  width: 60px;
  border-radius: 5px;
}

.colorCardA {
  position: relative;
  left: 10px;
}

.colorCardContainerInner {
  position: relative;
  top: 1.5em;
}

.backgroundColorBlock {
  cursor: pointer;
  margin-top: 12.5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  height: 20px;
  border-radius: 5px;
}

.strokeColorBlock {
  cursor: pointer;
  margin-top: 12.5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  height: 20px;
  border-radius: 5px;
}

.selected {
  border: 3px solid transparent;
height: 14px;
width: 34px;
  -moz-border-image: -moz-linear-gradient(top, red 0%, blue 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #f0e2d0 0%, #c08b62 100%);
  border-image: linear-gradient(to right, red 0%, blue 100%);
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
}


.selectedNumber {
  border: 1px solid;
}

.textSizeContainer {
  margin-top: 12.5px;
  text-align: center;
}

.input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}
.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
  border-radius: 0px;
}
.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  &:active {
    background: #ddd;
  }
}
.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}
